


#pageHeaderRow {
	background-color:#368BC1;
}

.heading1 {
	color: #FBC113;
	padding: 5px 15px;
    text-align: left;
    font-family: font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
}

.heading2 {
	color: #888888
    text-align: left;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: bold;     
    font-size: 20px;
}

.heading3 {
    color: #666666;
    text-align: left;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 14px;
}

table.nav-menu {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
}

table.listing {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
}

table.entity-detail {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
}

td {
	height: 30px;
}

tr.listing {
	transition: background 0.2s ease-in;
}

tr.listing:hover {
  background-color: #FEEEBE;
}

td.listing-header {
	font-color: #2C3539;
	font-weight: bold;	
}

table.form, p, field-label {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
}

p {
	font-size: 16px;
}

.field-label {
	color: #AAAAAA;
}


label {
    color: #AAAAAA;
    text-align: left;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: normal; 
    font-size: 12px;
}


a {
    text-decoration: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a.free, a.card {
    text-decoration: none;
}

a.free:link, a.free:visited, a.card:link, a.card:visited, a.card:active {
	color: #1BA5B5;
}	

a.free:hover, a.card:hover, a.free:active{
	color: #343434;
}

a.free:link, a.free:visited, a.free:active, a.free:hover {
    font-size: 12px;
}

a.card:link, a.card:visited, a.card:active, a.card:hover {
    font-size: 9px;
}


a.headerLinks:link, a.headerLinks:visited, a.headerLinks:active {
    color: #1BA5B5;
    padding: 5px 15px;
    text-align: left;
    text-decoration: none;
    font-weight: bold; 
    display: inline-block;    
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a.headerLinks:hover {
    color: #343434;
    padding: 5px 15px;
    text-align: left;
    text-decoration: none;
    font-weight: bold; 
    display: inline-block;    
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;    
}

#listTable {
	border-collapse: collapse;
	border: 1px; 
	border-color: #E5E4E2;
	bgcolor: #FFFFFF;
}

span.error {
	color: #FF0000;
}

div.errors {
	background-color: #ffcccc;
	border: 2px solid red;
}

.card-sub-header {
	height: 25px;
    padding-top: 2px;
    padding-left: 0px;
    font-size: 16px;
    font-weight: bold;
	color: #E7AD00;
}

.card-empty-placeholder {
    color: #DEDEDE;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: bolder;
}

.card-subordinate-text {
    color: #999999;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    font-size: 12px;
}

.footer-text {
    color: #E5E4E2;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    font-size: 11px;
}

/* Overridden Bootstrap CSS */

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f9f9f9;
    opacity: 1;
}

