


#pageHeaderRow {
	background-color:#368BC1;
}

.heading1 {
	color: #FBC113;
	padding: 5px 15px;
    text-align: left;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    font-size: 24px;
}

.heading2 {
	color: #888888;
    text-align: left;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: bold;     
    font-size: 20px;
}

.heading3 {
    color: #888888;
    text-align: left;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 14px;
}

table.nav-menu {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
}

table.listing {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
}

table.entity-detail {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
}


tr.listing {
	transition: background 0.2s ease-in;
}

tr.listing:hover {
  background-color: #BCC6CC;
}

td.listing-header {
	font-color: #2C3539;
	font-weight: bold;	
}

table.form {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
}

a {
    text-decoration: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a.free:link, a.free:visited, a.free:active, a.card:link, a.card:visited, a.card:active {
	color: #3B838B;
}	

a.free:hover, a.card:hover{
	color: #00474F;
}

a.free:link, a.free:visited, a.free:active, a.free:hover {
    font-size: 12px;
}

a.card:link, a.card:visited, a.card:active, a.card:hover {
    font-size: 9px;
}


a.headerLinks:link, a.headerLinks:visited, a.headerLinks:active {
    color: #3B838B;
    padding: 5px 15px;
    text-align: left;
    text-decoration: none;
    display: inline-block;    
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a.headerLinks:hover {
    color: #00474F;
    padding: 5px 15px;
    text-align: left;
    text-decoration: none;
    display: inline-block;    
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;    
}

#listTable {
	border-collapse: collapse;
	border: 1px; 
	border-color: #E5E4E2;
	bgcolor: #FFFFFF;
}

span.error {
	color: #FF0000;
}

div.errors {
background-color: #ffcccc;
border: 2px solid red;
}

.footer-text {
    color: #E5E4E2;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    font-size: 11px;
}



