html {
  min-height: 100%;
}

* {
	margin: 0;
}

html, body {
	height: 100%;        /* footer positioning related */
    padding: 0;
}

body {
  min-height: 100%;
  position: relative;
  background-color: #EFEFEF;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 11px;
  padding-bottom: 50px;
  overflow: auto;
}

#outer-container {
	max-width: 100%;
	min-height: 100%;        /* footer positioning related */
	overflow: auto;       /* footer positioning related */
	margin:0 auto 50px; 
	padding: 0;
	background-color: #EFEFEF;
	align-items: center;
	position: relative;
}

#header {
	background-color: #276F77;
	height: 40px;
	max-width: 70%;
	margin: 0 auto;
}


#nav {
	background-color: #DBDAD8;
	max-width: 70%;
	height: 30px;
	margin: 0 auto;
	padding-top: 3px;
	float: top;
}

#invisible-placement-container {
	background-color: #EFEFEF;
	max-width: 65%;
	height: auto;
	overflow: auto;       /* footer positioning related */
	padding-bottom: 50px; /* must be same height as the footer */
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	float: top, center;
}

#content-area {
	background-color: #FFFFFF;
	max-width: 65%;
	height: auto;
	overflow: auto;       /* footer positioning related */
	padding-bottom: 50px; /* must be same height as the footer */
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	float: top, center;
	border-style: solid;
	border-width: 1px;
	border-color: #DDDDDD;
    box-shadow: 5px 5px 5px #DDDDDD;
}

#left-column-wide-box, #right-column-narrow-box, #card-sized-box {
    padding-top: 0px;  
    padding-bottom: 0px;  
    padding-right: 0px;  
    padding-left: 0px;  
}

#left-column-wide-box, #card-sized-box {
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #DDDDDD;
    box-shadow: 5px 5px 5px #DDDDDD;
}

#left-column-wide-box, #right-column-narrow-box {
	height: auto;
	float: left;
}

#left-column-wide-box{
	width: 70%;
	margin-right: 10px;
}

#right-column-narrow-box{
	width: 27%;
	margin-left: 10px;
}

#card-sized-box{
	float: bottom;
	min-height: 200px;
	max-height: 300px;
	margin-bottom: 20px;
}

#card-title-area {
	background-color: #DAF1F3;
	border-bottom-color: #DDDDDD;
    border-bottom-width: 1px;
	width: 100%;
	height: 26px;
	margin-left: 0px;
    padding-left: 10px;  
    padding-top: 3px;  
    padding-right: 0px;  
}

.card-icon-area {
    width: 100%;
    margin-right: 0px;
	text-align: right;
    float: right;
}

#page-title-area {
	background-color: #FFFFFF;
	border-collapse: collapse;
	width: 90%;
	height: 35px;
	margin-left: 26px;
    padding-left: 10px;  
    padding-top: 3px;  
    padding-right: 0px;  
}

#post-content-spacing {
	background-color: #FFFFFF;
	border-collapse: collapse;
	border-color: #FFFFFF;
	width: 90%;
	height: 50px;
	margin-left: 50px;
}

#main-content-box {
	background-color: #FFFFFF;
	width: 92%;
	min-height: 500px;
	height: auto;
	margin: auto;
}

#footer {
	position: relative; /* footer positioning related */
	bottom: 0;
	right: 0;
	left: 0;
	max-width: 70%;
	height: 50px;
	background-color: #343434;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: -50px; /* negative value of footer height */
	clear: both;	   /* footer positioning related */
	padding: 6px;
	z-index: 99;
}

/* Bootstrap CSS Overrides */

.row {
	margin-right: 0;
}

.col-sm-1 {
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	width: 15%;
}
