html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body
{
    margin: 0;
    padding: 0;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  background-color: #EFEFEF;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 11px;
}

#main {
	max-width: 100%;
	margin:0 auto;
	background-color: #EFEFEF;
	align-items: center;
}

#header {
	background-color: #276F77;
	height: 50px;
	max-width: 1280px;
	margin: 0 auto;
}


#nav {
	background-color: #DBDAD8;
	max-width: 1280px;
	height: 30px;
	margin: 0 auto;
	padding-top: 3px;
	float: top;
}

#content-area {
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #DDDDDD;
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	float: top, center;
    box-shadow: 5px 5px 5px #DDDDDD;
}

#page-title-area {
	background-color: #FFFFFF;
	border-collapse: collapse;
	width: 85%;
	height: 35px;
	margin-left: 50px;
    padding-top: 5px;  
    padding-right: 0px;  
    padding-left: 0px;  
	
}

#post-content-spacing {
	background-color: #FFFFFF;
	border-collapse: collapse;
	border-color: #FFFFFF;
	width: 85%;
	height: 100px;
	margin-left: 50px;
}

.list-content-box {
	background-color: #FFFFFF;
	width: 85%;
	margin-left: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#footer-box {
	background-color: #5E676B;
	height: 55px;
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 10px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  margin: 0 auto;
}